div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
*, *:before, *:after  {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a {
	@include transition(all ease-out .3s);
}
body {
	font-family: $font__main;
	font-size: 16px;
	line-height: 1.5;
	color: #FFF;
	background: $color__background-body;
	overflow-y: auto;
	overflow-x: hidden;
}
p {
	margin-bottom: 1.5em;
}

dfn, cite, em, i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

address {
	margin: 0 0 1.5em;
}

pre {
	background: $color__background-pre;
	font-family: $font__pre;
	@include font-size(0.9375);
	line-height: $font__line-height-pre;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code, kbd, tt, var {
	font-family: $font__code;
	@include font-size(0.9375);
}

abbr, acronym {
	border-bottom: 1px dotted $color__border-abbr;
	cursor: help;
}

mark, ins {
	background: $color__background-ins;
	text-decoration: none;
}

big {
	font-size: 125%;
}
#wpadminbar {
	position: fixed;
}
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	@include clearfix;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	@include clearfix-after;
}
.author:not(.nt) {
	text-transform: capitalize;
}
.site {
	position: relative;
}
.wrapper {
	max-width: 1240px;
	width: 100%;
	position: relative;
	margin: 0px auto;
	padding-left: 20px;
	padding-right: 20px;
}
.text-center {text-align:center;}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.sr-only {
	display: none;
}
.logo-wrapper {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 10;
	padding-top: 40px;
	padding-bottom: 10px;
	left: 0;
	@include tab {
		padding-top: 44px;
	}
	@include mid {
		padding-top: 40px;
		padding-bottom: 0;
		left: 0;
	}
}
.logoSVG {
	display: inline-block;
	width: 200px;
	margin: 6px auto 0;
	opacity: 0;
	position: relative;
	left: 2px;
	@include tab {
		width: 310px;
		left: 0;
	}
	@include transition(all ease-out .3s);
	&.animateThis {
		opacity: 1;
	}
	&.show {
		opacity: 1;
	}
	@media screen and (max-width:480px) {
		left: 30px;
	}
}

.magnoliasvg {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.magnoliasvg .st0{
	fill:#FFFFFF;
	@include transition(all ease-out .3s);
}
.animateThis .animate-stroke {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0;
  animation: logo 3s normal forwards ease-in-out;
  //animation: logo 5s linear infinite;
}

.animateThis .animated2 {
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animateThis .fadeInLeft2 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.animateThis .fadeInRight2 {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.animateThis .fadeInDown2 {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animateThis .fadeInUp2 {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.hline,
.logotxt2 {
	animation-delay: 1s;
}
@keyframes logo {
  0% {
    stroke-width: 1pt;
    stroke-dashoffset: 1200;
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1020;
	padding-bottom: 10px;
	background: transparent;
	opacity: 1;
	transform: translateY(0);
	@include transition(all ease-in-out .5s);
	.wrapper {
		max-width: 100%;
		@include tab {
			max-width: 90%;
		}
	}
}

// body.subpage {
// 	.site-header {
// 		position: relative;
// 	}
// 	.logo-wrapper {
// 		padding-top: 15px;
// 	}
// 	.main-navigation {
// 		top: 0;
// 		margin-top: 10px;
// 		padding-bottom: 8px;
// 		@include mid {
// 			top: 25px;
// 			margin-top: 0;
// 			padding-bottom: 0;
// 		}
// 	}
// 	.main-navigation,
// 	.animateThis * {
// 		animation: none!important;
// 	}
// }

body.scrolled {
	.site-header {
		transform: translateY(-100%);
		opacity: 0;
		z-index: -999;
	}
}

.site-footer {
	width: 100%;
	clear: both;
	font-size: 18px;
	.section-title.wtm {
		font-size: 23px;
	}
	.col-left {
		margin-bottom: 20px;
		@include tab {
			width: 55%;
			float: left;
			margin-bottom: 0;
		}
	}
	.col-right {
		@include tab {
			width: 40%;
			float: right;
		}
	}
	.cta-btn a {
		display: inline-block;
		text-decoration: none;
		padding: 8px 20px;
		background: #FFF;
		font-size: 25px;
		color: $color-dark-blue;
		&:hover {
			transform: scale(1.1);
		}
	}
}

.first-section {
	.site-header {
		position: relative;
	}
}


.screen-reader-text {
	clip: rect(1px,1px,1px,1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
html, body, .site {
	height: 100%!important;
}
.content-main-wrapper {
	height: 100%!important;
}
.default-template {
	background: #FFF;
	color: $color-dark-blue;
	.site-main {
		min-height: 30em;
	}
	.hentry {
		padding-bottom: 60px;
	}
	p img {
		width: 100%;
		height: auto;
	}
}
.section {
	background: #FFF;
	color: $color__text-main;
	font-weight: 300;
	position: relative;
	z-index: 1010;
	&.parallax-window {
		background: transparent;
	}
}
.first-section {
	text-align: center;
}
.taglinediv {
	display: inline-block;
	position: relative;
	// margin: 10% auto 0;
	margin: 6% auto 0;
	transform: scale(.8);
	top: 0;
	@include transition(all ease-out .3s);
	@include tab {
		transform: scale(.8);
	}
	// @include mid {
	// 	transform: unset;
	// 	top: 0;
	// 	margin: -17% auto 0;
	// }
	// @media screen and (max-width:500px) {
	// 	margin: -38% auto 0;
	// }
}
.tagline {
	position: relative;
	margin: 0 0;
	display: inline-block;
	color: #FFF;
	font-size: 2em;
	span {
		display: block;
		width: 100%;
		line-height: 1;
		position: relative;
		color: transparent;
		em {
			font-style: normal;
			display: block;
		}
	}
	span.t1 {
		font-family: $font-secondary;
		font-weight: 200;
		font-size: 0.7em;
		text-transform: lowercase;
		padding: 30px 50px 15px;
		@include tab {
			font-size: 1em;
		}
		@include mid {
			font-size: 1.3em;
		}
		@include desk {
			font-size: 1.6em;
		}
	}
	span.t2 {
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
		text-transform: uppercase;
		position: relative;
		top: 0;
		@include tab {
			font-size: 1.8em;
		}
		@include mid {
			top: -5px;
			font-size: 2em;
		}
		@include desk {
			font-size: 2.6em;
		}
		em {
			font-style: normal;
			display: block;
		}
	}
	&.animated {
		&:before {
			content:"";
			display: block;
			background: #FFF;
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 4px;
			animation: vertical_middle_line 1s normal forwards ease;
			animation-delay: 2.2s;
		}
		span.t1 {
			&:before, &:after {
				content:"";
				display: block;
				background: #FFF;
				width: 4px;
				height: 0;
				position: absolute;
				top: 0;
			}
			&:before {
				left: 0;
				animation: bottom_to_top 1s normal forwards ease-in-out;
				animation-delay: 2.2s;
			}
			&:after {
				right: 0;
				animation: top_to_bottom 1s normal forwards ease-in-out;
				animation-delay: 2.2s;
			}
		}
		span.t2 {
			em {
				&:before, &:after {
					content:"";
					display: block;
					background: #FFF;
					width: 0;
					height: 5px;
					position: absolute;
					top: 48%;
				}
				&:before {
					left: 0;
					animation: bottom_left_to_right 1s normal forwards ease-in-out;
					animation-delay: 2.2s;
				}
				&:after {
					right: 0;
					animation: bottom_right_to_left 1s normal forwards ease-in-out;
					animation-delay: 2.2s;
				}
			}
		}


	}
}

.tagline.clone {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	&:before {
		display: none;
	}
	span {
		color: #FFF;
	}
	span.t1 {
		animation-delay: 2s;
		&:before, &:after {
			display: none;
		}
	}
	span.t2 {
		animation-delay: 2s;
		em {
			&:before, &:after {
				display: none;
			}
		}
	}
}

@keyframes bottom_to_top {
	from {
		top: 136%;
		height:0%;
	}
	to {
		top: 0;
		height:136%;
	}
}
@keyframes top_to_bottom {
    from {
		height:0%;
	}
	to {
		height:136%;
	}
}

@keyframes bottom_left_to_right {
    // 0% { width: 0; }
    // 50%{ width : 13%;}
	from {
		left:13%;
		width:0%;
	}
	to {
		left:0%;
		width:13%;
	}
}
@keyframes bottom_right_to_left {
	from {
		width:0%;
	}
	to {
		width:13%;
	}
}

@keyframes vertical_middle_line {
  // from {
  //   left:50%;
  //   width:0%;
  // }
  // to {
  //   left:0%;
  //   width:100%;
  // }
  from {
    width:0%;
  }
  to {
    width:100%;
  }
}
.fp-responsive {
	.parallax-mirror {
		height: 100%!important;
	}
}
.fp-responsive .fp-auto-height-responsive.fp-section {
	&#section1,
	&#section1 .fp-tableCell {
		height: 100%!important;

	}
}
.medwrap {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
}
.large-text {
	color: $color__text-main;
	line-height: 1.4;
	font-size: 18px;
	sup {
		font-size: 9px;
		top: -10px;
		left: 2px;
	}
	@include mid {
		line-height: 1.3;
		font-size: 2vw;
		sup {
			font-size: 9px;
			top: -9px;
		}
	}
	@include desk {
		font-size: 30px;
		sup {
			font-size: 10px;
			top: -15px;
		}
	}
}

.about {
	opacity: 1;
  	@include mid {
  
  	}
	p strong {
		width: 100%;
		display: inline-block;
		padding: 0 0;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 6px;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

.fullwidth {
	width: 100%;
	float: left;
}
.flexrow {
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
	}
}

.morebtn {
	color: $color__text-main;
	font-weight: 300;
	text-decoration: none;
	display: inline-block;
	padding: 6px 18px;
	background: transparent;
	border: 5px solid $color-light-grey;
	&:hover {
		color: #FFF;
		background: $color__text-main;
		border-color: $color__text-main;
		transform: scale(1.1);
	}
	&.ongray {
		border-color: #d4d4d4;
		&:hover {
			border-color: $color__text-main;
		}
	}
}
.section.services-section {
	background: $color-light-grey;
}

.iconssection,
.services {
	.fbox {
		padding: 20px;
		@include tab {
			width: 33.33%;
		}
	}
	.fbox4 {
		font-size: 16px;
		padding: 20px;
		@include tab {
			width: 25%;
		}
		.svc-icon span {
			padding: 15px;
		}
	}
}
.svc-icon {
	text-align: center;
	margin-bottom: 20px;
	span {
		display: inline-block;
		width: 120px;
		background: #FFF;
		border-radius: 100%;
	}
	img {
		float: left;
		width: 100%;
		height: auto;
		border-radius: 100%;
	}
}
.box-title {
	margin: 0 0 6px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
	padding: 0 5%;
	@include mid {
		padding: 0 10%;
	}
	@include desk {
		padding: 0 20%;
	}
}

.section.whyus-section {
	background: $color-light-blue;
	color: #FFF;
	.wrapper {
		padding-top: 8%;
		padding-bottom: 6%;
	}
	.section-title sup {
		font-size: 14px;
		top: -18px;
		right: -4px;
		padding-right: 8px;
	}
}
.whydetails {
	padding-top: 4%;
	padding-bottom: 4%;
	.whybox {
		padding: 15px 20px 20px;
		border-top: 1px solid #FFF;
		@include tab {
			padding: 20px;
			width: 50%;
			padding: 20px;
			border-top: none;
		}
		@include desk {
			padding: 20px 40px;
		}
	}
	.whybox:first-child {
		border-top: none;
	}
	@include tab {
		.whybox:nth-child(1),
		.whybox:nth-child(3) {
			border-right: 1px solid #FFF;
		}
		.whybox:nth-child(1),
		.whybox:nth-child(2) {
			border-bottom: 1px solid #FFF;
		} 
	}
	.title {
		font-size: 17px;
		font-weight: 700;
		margin: 0 0;
		color: $color-dark-blue;
		text-transform: none;
	}
}

// .contactus-section.parallax-window.section {
// 	.wrapper {
// 		padding-top: 5%;
// 	}
// 	.contactus {
// 		max-width: 800px;
// 		width: 100%;
// 		margin: 0 auto;
// 		padding-top: 7%;
// 		@include mid {
// 			padding-top: 5%;
// 			padding-bottom: 5%;
// 		}
// 	}
// }
.contactus-section.section {
	.wrapper {
		padding-top: 5%;
	}
	.contactus {
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		padding-top: 7%;
		@include mid {
			padding-top: 5%;
			padding-bottom: 5%;
		}
	}
}

.contact-text {
	font-size: 16px;
	background: transparent;
	@include mid {
		font-size: 20px;
	}
	p strong {
		font-weight: normal;
	}
	a {
		color: $color-dark-blue;
		&:hover {
			color: $color-light-blue;
		}
	}
}

.gform_wrapper {
	margin-bottom: 10%;
	width: 100%;
	float: left;
	background: #FFF;
}
.gform_wrapper form {
	display: block;
	padding: 20px;
	background: #FFF;
	font-weight: 400;
	position: relative;
	z-index: 5;
	width: 100%;
	float: left;
	input[type="text"],
	input[type="email"],
	textarea,
	select {
		border-radius: 0px;
		border: 3px solid #dedede;
		outline: none;
		background: #FFF;
		font-size: 18px!important;
		@include transition(all ease .3s);
		&:focus {
			border-color: $color-dark-blue;
		}
	}
	input[type="text"],
	input[type="email"],
	select {
		height: 45px;
		line-height: 44px;
	}
	.field_sublabel_below .ginput_complex.ginput_container label {
		margin-bottom: 0;
	}
	ul.gform_fields li.gfield {
		position: relative;
		margin-top: 25px;
		padding-right: 0!important;
	}
	#field_1_1 label.gfield_label {
		display: none;
	}
	label.gfield_label {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		top: 10px;
		left: 10px;
		font-size: 13px;
		font-weight: 500;
		color: #909090;
		@include transition(all ease-out .3s);
		&.on-focus {
			top: -16px;
			left: 0;
			font-size: 12px;
		}
	}
	li.gfield.gfield_html {
		text-align: center;
	}
	.field_sublabel_below .ginput_complex.ginput_container label {
		font-size: 12px;
	}
	li.recaptcha-container {
		text-align: center;
		label {
			display: none;
		}
		.ginput_recaptcha {
			display: inline-block;
		}
	}
	.recaptcha-container label {
		display: none!important;
	}
}

.gform_wrapper ul.gform_fields > li:first-child {
	margin-top: 0!important;
}
.gform_footer {
	text-align: center;
}
.contentwrapper .gform_wrapper .gform_footer input.button, 
.contentwrapper .gform_wrapper .gform_footer input[type=submit] {
	border: 3px solid #dedede;
	box-shadow: none;
	text-shadow: none;
	border-radius: 0px;
	-webkit-appearance: none;
	background: transparent;
	padding: 10px 20px;
	margin: 0 auto;
	font-size: 23px;
	@include transition(all ease-out .3s);
	&:hover {
		color: #FFF;
		border-color: $color-dark-blue;
		background: $color-dark-blue;
		transform: scale(1.1);
	}
}
.gform_wrapper .gfield_description.validation_message, 
.gform_wrapper .top_label .gfield_description.validation_message {
	font-size: 13px;
	padding: 5px 15px!important;
}
.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
	background-color: rgba(255,223,224,.25);
	margin-bottom: 6px!important;
	border-top: 1px solid #C89797;
	border-bottom: 1px solid #C89797;
	padding-bottom: 6px;
	padding-top: 2px;
	box-sizing: border-box;
}
.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
	max-width: calc(100%)!important;
}
.gform_wrapper .validation_message,
.gform_wrapper div.validation_error {
	color: #e61d1d;
}

.section-one {
	// height: 100%;
	height: 100vh;
	&.half {
		height: 400px;
		@include tab {
			height: 800px;
		}
	}
	.wrapper {
		height: 100%;
		padding-top: 0;
		padding-bottom: 0;
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		@include flexbox-justify(center);
		@include flexbox-align-items(center);
	}
}

.section-two {
	.wrapper {
		padding-top: 6%;
		padding-bottom: 10%;
		@include desk {
			padding-top: 6%;
			padding-bottom: 8%;
		}
	}
}

.section-title {
	font-size: 35px;
	font-weight: 300;
	margin: 0 0;
	@include mid {
		font-size: 45px;
	}
}


.section.iconssection,
.section-three {
	.wrapper {
		padding-top: 6%;
		padding-bottom: 6%;
	}
	.section-title {
		margin-bottom: 15px;
	}
}

.section.iconssection {
	background: $subtle_grey;
	font-size: 30px;
	h2 {
		font-size: 1.35em;
		font-weight: 300;
		margin: 0 0;
		@include mid {
			font-size: 1.75em;
		}
	}
}


.section.footer-section {
	background: $color-dark-blue;
	color: #FFF;
}

.section-logo {
	margin-bottom: 6%;
	.magnoliasvg .st0 {
		fill: $color-dark-blue;
	}
	.magnoliasvg .st0.logotxt2 {
		fill: $color-light-blue;
	}
	.logov2 {
		display: inline-block;
		width: 350px;
		@include mid {
			width: 380px;
		}
		@include desk {
			width: 500px;
		}
		&.animated {
			.animate-stroke {
				fill: $color-dark-blue;
				stroke: $color-dark-blue;
				stroke-width: 0;
				animation: logo 3s normal forwards ease-in-out;
			}

			.animated2 {
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
			.fadeInUp2 {
				-webkit-animation-name: fadeInUp;
				animation-name: fadeInUp;
			}

			.fadeInLeft2 {
			  -webkit-animation-name: fadeInLeft;
			  animation-name: fadeInLeft;
			}
			.fadeInRight2 {
			  -webkit-animation-name: fadeInRight;
			  animation-name: fadeInRight;
			}

			.hline {
				animation-delay: 1s;
			}
		}

		
	}
}

/* Subpage */
.banner-caption {
	font-size: 30px;
	line-height: 1.3;
	color: #FFF;
	text-shadow: 1px 2px 6px rgba(0,0,0,.65);
	@include tab {
		font-size: 5.2vw;
	}
	@include desk {
		font-size: 70px;
	}
	h1 {
		font-weight: 300;
		font-size: 1em;
		line-height: 1.2;
		margin: 0 0;
		@include tab {
			font-size: 1.1em;
		}
	}
}
body.subpage {
	&.noHero {
		.site-header {
			position: relative;
			background: $color-dark-blue;
			padding-bottom: 25px;
		}
	}
	// .side-navigation {
	// 	background: rgba(5, 3, 29, 0.85);
	// }
}
.subpage-section {
	h1 {
		font-size: 1.8em;
		font-weight: 500;
		line-height: 1.3;
		margin-top: 0;
		@include tab {
			font-size: 2em;
		}
		&.imgtitle {
			font-size: 1em;
			font-weight: 300;
    		line-height: 1.1;
		}
	}
	h2 {
		font-size: 30px;
		font-weight: 500;
		line-height: 1.3;
		@include tab {
			font-size: 40px;
		}
		@include desk {
			font-size: 60px;
		}
		&:first-child {
			margin-top: 0;
		}
	}
	h3 {
		font-size: 20px;
		font-weight: 700;
		line-height: 1.3;
		@include tab {
			font-size: 25px;
		}
		@include desk {
			font-size: 30px;
		}
	}
	.intro h3 {
		margin:0 0 25px;
		font-weight: 700;
	}
	.intro p {
		margin-top: 0;
		margin-bottom: 1.5em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a:not(.morebtn) {
		display: inline-block;
		color: $color__link;
		text-decoration: none;
		position: relative;
		&:after {
			content:"";
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid $color__link;
			position: absolute;
			bottom: 0;
    		left: 0;
    		transition: all ease-out .3s;
    		transform: scaleX(0);
    		opacity: 0;
		}
		&:hover {
			&:after {
				opacity: 1;
				transform: scaleX(1);
			}
		}
	}

	.wrapper {
		padding-top: 6%;
		padding-bottom: 6%;
		padding-left: 30px;
		padding-right: 30px;
		@include mid {
			padding-left: 3%;
			padding-right: 3%;
		}
		@include desk {
			padding-top: 6%;
			padding-bottom: 6%;
		}
		&.smpad {
			padding-top: 3%;
			padding-bottom: 0;
		}
	}
	.top-text {
		max-width: 1000px;
		width: 100%;
		margin: 0 auto;
	}
	&#section3 .wrapper {
		padding-top: 3%;
		padding-bottom: 5%;
	}
	&.imagebg, 
	&.imagebg .wrapper {
		min-height: 20em;
		@include tab {
			min-height: 30em;
		}
		@include mid {
			min-height: 40em;
		}
	}
	&.imagebg {
		.wrapper {
			padding-top: 0;
			padding-bottom: 0;
			height: 100%;
			text-align: center;
			@include flexbox();
			@include flexbox-align-items(center);
			@include flexbox-justify(center);
		}
	}
	&#blogs {
		.wrapper {
			padding-bottom: 3%;
		}
	}
	&.section-teal.last,
	&.last {
		.wrapper {
			padding-top: 4%!important;
			padding-bottom: 5%!important;
			@include flexbox();
			@include flexbox-align-items(center);
			@include flexbox-justify(center);
		}
	}
	&.topsection {
		.wrapper {
			padding-top: 3%;
			padding-bottom: 3%;
		}
	}
	.blogs .wrapper {
		padding-top: 0;
		padding-bottom: 2%;
	}
	p img {
		width: 100%;
		height: auto;
	}
}

.subpage-section.notoptext .blogs .wrapper {
	padding-top: 3%;
}
.subpage-section .wp-share-button a {
	display: inline-block;
	position: relative;
	padding: 5px 8px!important;
	float: left;
	&:before,&:after {
		display: none;
	}
	span {
		transition: all ease-out .3s;
	}
}
#content .singlepost .post-info {
	position: relative;
}
#content .post-info .wp-share-button.theme10 {
	display: block;
	margin: 6px 0 0;
}
#content .wp-share-button.theme10 .share-button, 
#content .wp-share-button.theme10 .share-button-more {
	margin: 3px;
}

#content .post-info {
	width: 100%;
	.authordiv,
	.socialshare {
		display: inline-block;
		float: left;
	}
	.socialshare {
	    padding-left: 15px;
	    position: relative;
	    top: -9px;
	    a {
	    	&:before,&:after {
				display: none!important;
			}
	    }
	}
	.socbtn {
		transition: all ease-out .3s;
		float: left;
		display: inline-block;
		position: relative;
		z-index: 5;
	}
	#shareitBtn {
		font-size: 30px;
		color: #a2a1a0;
		line-height: 25px;
		top: -1px;
	}
	#contactUsBtn {
		width: 85px;
		margin-left: 6px;
		background: #a2a1a0;
		color: #FFF;
		padding: 3px 7px 4px;
		font-size: 14px;
		text-align: center;
		border-radius: 3px;
		top: 1px;
	}
	.socbtn#contactUsBtn:hover {
		background: #4098c1;
	}
	.socbtn#shareitBtn.active,
	.socbtn#shareitBtn:hover {
		color: #4098c1;
		.wp-share-button {
			display: block!important;
		}
	}
	.social-buttons {
		transition: all ease-out .3s;
		width: 280px;
		float: left;
		position: absolute;
		top: 30px;
		left: 15px;
		visibility: hidden;
		opacity: 0;
		margin-top: -10px;
		.wp-share-button {
		    background: #FFFF;
		    border: 1px solid #CCC;
		    transition: all ease-out .3s;
		    padding: 5px;
		    position: absolute;
		    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.28);
		    &:before {
				content:"";
				display: block;
				width: 0; 
				height: 0; 
				border-bottom: 7px solid #FFF; 
				border-left: 6px solid transparent; 
				border-right: 6px solid transparent;
				position: absolute;
				top: -7px;
				left: 7px;
				z-index: 3;
		    }
			&:after {
				content: "";
				display: block;
				width: 0;
				height: 0;
				border-bottom: 8px solid #CCC;
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				position: absolute;
				top: -8px;
				left: 6px;
			}
		}
	}
	.social-buttons.show {
		visibility: visible;
		opacity: 1;
		margin-top: 0;
	}
}

.wp-share-button.theme10 .share-button .button-count {
	display: inline-block!important;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	opacity: 0;
	position: absolute;
	z-index: -99;
}
.wp-share-button.theme10 .share-button:hover .button-count {
	width: auto;
	overflow: visible;
	visibility: visible;
	opacity: 1;
	position: static;
	z-index: 10;
}

.subpage-section.subscribe {
	.gform_wrapper {
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		float: none;
	}
	.gform_wrapper form {
		width: 100%;
		float: left;
		background: $grey2;
	}
	.ginput_container select,
	.ginput_container input {
		width: 100%!important;
	}
}

.gform_wrapper form ul.gform_fields li.gfield .ginput_container select {
	font-size: 20px;
	height: 45px;
	line-height: 45px;
	background: #FFF;
}
#content .gform_wrapper form ul.gform_fields li.gfield.gf_left_half,
#content .gform_wrapper form ul.gform_fields li.gfield.gf_right_half {
	label {
		margin-top: 7px;
	}
}

#content .gform_wrapper form ul.gform_fields li.gfield.gf_left_half {
	margin-top: 0;
	margin-bottom: 20px;
	clear: none;
	@include tab {
		width: 49%!important;
		float: left;
	}
}
#content .gform_wrapper form ul.gform_fields li.gfield.gf_right_half {
	margin-top: 0;
	margin-bottom: 20px;
	clear: none;
	@include tab {
		width: 49%!important;
		float: right;
	}
}
#content .gform_wrapper form ul.gform_fields li.gfield.selectField {
	margin-top: 0;
	label {
		position: relative!important;
		margin-top: 0!important;
		top: 2px;
		left: 0;
	} 
	.ginput_container {
		margin-top: 0!important;
	}
}

.section-blue {
	background: $color-dark-blue;
	color: #FFF!important;
	.large-text {
		color: #FFF!important;
	}
}
.icons-columns {
	.flexboxes {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		margin: 0 -20px;
	}
	.col {
		margin: 10px 0;
		width: 100%;
		@include tab {
			width: 50%;
		}
		@include mid {
			width: 25%;
		}
	}
	.pad {
		padding: 20px;
	}
	.icondiv {
		margin-bottom: 25px;
	}
	.icondiv span {
		display: block;
		width: 150px;
		height: 150px;
		margin: 0 auto;
		background-size: 70%;
		background-position: center;
		background-repeat: no-repeat;
		background-color: #FFF;
		border-radius: 100%;
		img {
			width: 100%;
			height: auto;
		}
	}
	.text {
		font-size: 18px;
		line-height: 1.5;
		@include tab {
			font-size: 3vw;
		}
		@include mid {
			font-size: 25px;
		}
	}
	.title {
		margin: 0 0 10px;
		font-weight: 700;
		line-height: 1.2;
		color: $blue2;
		text-transform: uppercase;
		@include tab {
			font-size: 25px;
		}
	}
}
.section-gray {
	background: $grey2;
	color: $color-dark-blue;
	.top-text {
		max-width: 100%;
	}
	.icons-columns .title {
		color: $color-dark-blue;
	}
}
.section-teal {
	background: #547489;
	color: #FFF!important;
	.wrapper {
		padding-top: 3%!important;
		padding-bottom: 5%!important;
	}
	.large-text,
	.morebtn {
		color: #FFF!important;
	}
	.morebtn {
		padding: 7px 18px 8px;
		font-size: 22px;
		&:after {
			display: none;
		}
	}
}
.subpage-section .blogs,
.subpage-section .teams {
	.flexbox {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		// margin: 0 -8%;
	}
	.group {
		width: 100%;
		&.odd {
			background: $subtle_grey;
		}
		.wrapper {
			padding-top: 4%;
		}
	}
	.info {
		text-align: center;
		width: 100%;
		@include tab {
			width: 33.3%;
		}
		.pad {
			padding: 8%;
		}
	}

	h3.name {
		margin: 0 0 5px;
		font-size: 1.5em;
		font-weight: 600;
		line-height: 1.2;
		text-transform: uppercase;
		color: $color-dark-blue;
		&.nt {
			text-transform: none;
		}
	}
	h3.posttitle {
		margin: 0 0 5px;
		font-size: 1.5em;
		font-weight: 600;
		line-height: 1.2;
		color: $color-dark-blue;
	}
	.author,
	.jobtitle {
		margin: 0 0;
		color: $teal;
		font-size: 1.35em;
		font-weight: 500;
		line-height: 1.2;
	}
	.author {
		font-size: 15px;
		margin: 15px 0 20px;
		strong {
			text-transform: capitalize;
		}
	}
	.excerpt {
		font-size: 1.3em;
	}
	.buttondiv a {
		display: inline-block;
		border: 4px solid $teal;
		text-decoration: none;
		color: $color-dark-blue;
		padding: 5px 35px;
		font-size: 1em;
		line-height: 1.2;
		&:hover {
			background: $teal;
			color: #FFF;
		}
	}
}

.subpage-section.hastoptext .blogs .group:first-child {
	margin-top: 30px;
}

.subpage-section .buttondiv a {
	&:before,&:after {
		display: none!important;
	}
}
.photo {
	background-size:cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #FFF;
	margin-bottom: 30px;
	position: relative;
	&.iconpic {
		background-size: 70%;
		background-color: transparent;
		margin-bottom: 0;
	}
	img {
		width: 100%;
		height: auto;
		visibility: hidden;
		&.pic {
			visibility: visible;
		}
	}
	span {
		display: block;
		width: 100%;
		float: left;
	}
}
.noimage {
	position: relative;
	background-color: #e4e4e4!important;
	&:before {
		content:"Image Coming Soon";
		display: block;
		width: 100%;
		padding: 20px;
		font-size: 0.95em;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #ababab;
		text-align: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
}
.gray {
	background: $subtle_grey;
}
.single-sidebar {
	width: 100%;
	margin-bottom: 30px;
	@include tab {
		width: 30%;
		float: left;
		margin-bottom: 0;
	}
	.photo {
		margin-bottom: 25px;
	}
}
.subpage-section .hd3 {
	// font-size: 25px;
	font-size: 1.15em;
	font-weight: 600;
	line-height: 1.2;
	color: $teal;
	text-transform: uppercase;
	margin: 20px 0 20px;
	padding-bottom: 15px;
	border-bottom: 1px solid #acacac;
}
.single-content {
	@include tab {
		width: 65%;
		float: right;
	}
}
.teaminfo {
	font-size: 1.2em;
	line-height: 1.4;
	margin-bottom: 30px;
	@include tab {
		font-size: 1.25em;
		margin-bottom: 40px;
	}
	.info {
		margin-bottom: 20px;
	}
}
.educations {
	.school {
		font-weight: 600;
		color: $color-dark-blue;
	}
}
.full {
	width: 100%!important;
	float: left;
}
.singlepost,
.staffinfo {
	font-size: 1.25em;
	line-height: 1.4;
	h1.pagetitle {
		font-size: 2em;
		font-weight: 400;
		line-height: 1.2;
		margin: -10px 0 25px;
		@include tab {
			font-size: 2.3em;
		}
		&.posttitle {
			margin-bottom: 15px;
		}
	}
	.jobtitle {
		font-size: 25px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.ilink {
		line-height: 1.6;
	}
	.ilink a {
		text-decoration: none;
		color: $color__link;
	}
	.hd3 {
		font-size: 25px;
		padding-bottom: 0;
		border-bottom: none;
		margin-top: 50px;
		margin-bottom: 30px;
		@include tab {
			margin-top: 70px;
		}
	}
}
.section-cta {
	.wrapper {
		padding-top: 5%;
		padding-bottom: 5%;
	}
	.buttondiv {
		text-align: center;
		a {
			display: inline-block;
			text-decoration: none;
			font-size: 20px;
			padding: 4px 40px 4px 60px;
			border: 5px solid $teal;
			color: $teal;
			position: relative;
			.arrow {
				position: absolute;
				left: 12px;
				top: 11px;
				font-size: 16px;
				transition: all ease .3s;
			}
			&:hover .arrow {
				margin-left: -5px;
			}
			&.rightArr {
				padding: 4px 60px 4px 40px;
				.arrow-r {
					position: absolute;
					right: 12px;
					top: 11px;
					font-size: 16px;
					transition: all ease .3s;
				}
				&:hover .arrow-r {
					margin-right: -5px;
				}
			}
			&.white:hover {
				background: $teal;
				color: #FFF;
				.arrow,
				.arrow-r {
					color: #FFF;
				}
			}
			&.large {
				padding-top: 8px;
				padding-bottom: 8px;
				&.rightArr .arrow-r {
					top: 15px;
				}
			}
		}
	}
}
h1.entry-title {
	font-size: 2em;
    font-weight: 400;
    margin: 40px 0 10px;
}
.contactpage  {
	.wrapper {
		padding-top: 3%;
		padding-bottom: 5%;
	}
	.contactus {
		padding-top: 0;
		padding-bottom: 0;
		.gform_title {
			display: none;
		}
	}
	.contact-text .gform_wrapper {
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		float: none;
	}
	.contact-text .gform_wrapper,
	.contact-text .gform_wrapper form {
		background: transparent;
	}
	.contact-text a {
		display: inline-block;
		color: $color__link;
		text-decoration: none;
		position: relative;
		&:after {
			content:"";
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid $color__link;
			position: absolute;
			bottom: 0;
    		left: 0;
    		transition: all ease-out .3s;
    		transform: scaleX(0);
    		opacity: 0;
		}
		&:hover {
			&:after {
				opacity: 1;
				transform: scaleX(1);
			}
		}
	}
	.contact-text h1 {
		font-weight: 400;
		font-size: 2.2em;
		line-height: 1.2;
		margin: 0 0 30px;
		@include mid {
			font-size: 3em;
		}
	}
}
.sitemaplink {
	.sitemapnav {
		display: inline-block;
		margin: 30px 0;
		ul {
			margin: 0 0;
			padding: 0 0;
			list-style: none;
			text-align: left;
			position: relative;
			ul {
				padding-left: 25px;
			}
			li {
				position: relative;
				padding-left: 14px;
				&:before {
					content:"";
					display: inline-block;
					width: 6px;
					height: 6px;
					background: $color__link;
					position: absolute;
					top: 9px;
					left: 0;
				}
			}
		}
		a {
			text-decoration: none;
			color: $color__link;
			&:hover {
				opacity: 0.5;
			}
		}
	}
}

/* Footer */
.footer-section {
	a {
		text-decoration: none;
		color: #FFF;
	}
	.wrapper {
		padding-top: 8%;
		padding-bottom: 8%;
		@include tab {
			padding-top: 5%;
			padding-bottom: 5%;
		}
	}
	.section-title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 20px;
		sup {
			font-size: 10px;
			top: -8px;
			left: 3px;
		}
	}
	.phone {
		margin-bottom: 20px;
	}
	.copyright {
		margin: 30px 0 0;
		width: 100%;
		font-size: 15px;
	}
}
.social-links {
	margin: 30px 0 0;
	a {
		display: inline-block;
		width: 35px;
		height: 38px;
		text-align: center;
		border: 1px solid #FFF;
		line-height: 36px;
		color: #FFF;
		background: transparent;
		margin: 2px;
		&:hover {
			color: $color-dark-blue;
			background: #FFF;
		}
	}
}

body.error404 {
	.site-main {
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
		padding: 6% 0;
	}
	.logo-wrapper {
		top: -4px;
	}
	.page-header {
		position: relative;
		margin-top: -7%;
	}
	.txt404 {
		font-size: 100px;
		font-weight: 300;
		color: #e4e4e4;
		span {
			border-bottom: 5px solid #e4e4e4;
			margin-bottom: 28px;
			display: inline-block;
		}
	}
	h1 {
		font-size: 1.8em;
		font-weight: 500;
		line-height: 1.3;
		margin: 0 0;
		position: relative;
	}
	.icondiv span {
		font-size: 6em;
		color: #e4e4e4;
	}
}
.legal-disclaimer {
	font-size: 10px;
	font-weight: 300;
	line-height: 1.5;
	text-align: justify;
	max-width: 1000px;
	width: 100%;
	margin: 35px auto 0;
	padding-top: 10px;
	border-top: 1px dotted rgba(255,255,255,.35);
	text-align: center;
	p {
		margin-bottom: 0;
		margin-top: 15px;
	}
	a {
		text-decoration: underline;
	}
}

.post-info {
	font-size: 15px;
	margin: 0 0 35px;
	position: relative;
	top: -5px;
	.dt {
		display: inline-block;
		position: relative;
		border-left: 1px solid #b3b2b2;
		line-height: 1.2;
		padding-left: 10px;
		margin-left: 7px;
	}
	.dt:first-child {
		padding-left: 0;
		margin-left: 0;
		border-left: none;
	}
}

.pagination {
	text-align: center;
	&.wrapper {
		padding-top: 28px !important;
		padding-bottom: 20px !important;
	}
	a, span {
		display: inline-block;
		text-decoration: none;
		font-size: 16px;
		line-height: 1;
		padding: 8px 11px;
		color: #FFF;
		background: $blue2;
		overflow: hidden;
		margin:2px;
	}
	a:hover {
		background: #42a7e6;
	}
	span {
		background: #c1c1c1;
	}
}
.subscribe-cta.section-cta {
	.wrapper {
		padding-top: 0;
		padding-bottom: 80px;
	}
}
.section.defaultsection {
	.wrapper {
		padding-top: 60px;
		padding-bottom: 60px;
		@include mid {
			padding-top: 100px;
			padding-bottom: 120px;
		}
	}
	h2 {
		font-size: 35px;
		font-weight: 300;
		margin: 0 0;
		@include mid {
			font-size: 45px;
		}
	}
}

.page-template-page-newsletter {
	.subpage-section.topsection .wrapper {
		padding-bottom: 30px;
	}
}
.page-template-page-press {
	#section2.subpage-section h1 {
		margin-bottom: 10px;
	}
}

.subpage-section .blogs .group {
	.wrapper {
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

.mobile-staff-info {
	display: block;
	width: 100%;
	float: left;
	margin-bottom: 45px;
	@include tab {
		display: none;
	}
	.staffname {
		font-size: 2.25em;
		margin-bottom: 15px;
	}
	.jobtitle {
		font-weight: 700;
		text-transform: uppercase;
		font-size: 1.35em;
	}
	.ilink a {
		font-size: 1.15em;
	}
}
.desktop-staff-info {
	display: none;
	@include tab {
		display: block;
	}
}
.staffinfo .hd3 {
	@media screen and (max-width:$tabwidth - 1px) {
		font-size: 1.15em;
		font-weight: 600;
		line-height: 1.2;
		color: #547489;
		text-transform: uppercase;
		margin: 45px 0 20px;
		padding-bottom: 15px;
		border-bottom: 1px solid #acacac;
	}
}


