div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
*, *:before, *:after  {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a {
	@include transition(all ease-out .3s);
}
body {
	font-size: 16px;
	line-height: 1.5;
	color: #FFF;
}
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	@include clearfix;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	@include clearfix-after;
}
.wrapper {
	max-width: 1240px;
	width: 100%;
	position: relative;
	margin: 0px auto;
	padding-left: 20px;
	padding-right: 20px;
}
.text-center {text-align:center;}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.sr-only {
	display: none;
}
.logo-wrapper {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 10;
	padding-top: 40px;
	padding-bottom: 10px;
	@include tab {
		padding-top: 20px;
	}
	@include mid {
		padding-top: 40px;
		padding-bottom: 0;
	}
}
.logoSVG {
	display: inline-block;
	width: 200px;
	margin: 0 auto;
	opacity: 0;
	position: relative;
	left: 18px;
	@include tab {
		width: 310px;
		left: 0;
	}
	@include transition(all ease-out .3s);
	&.animateThis {
		opacity: 1;
	}
	&.show {
		opacity: 1;
	}
}

.magnoliasvg {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.magnoliasvg .st0{
	fill:#FFFFFF;
	@include transition(all ease-out .3s);
}
.animateThis .animate-stroke {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0;
  animation: logo 3s normal forwards ease-in-out;
  //animation: logo 5s linear infinite;
}

.animateThis .animated2 {
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animateThis .fadeInLeft2 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.animateThis .fadeInRight2 {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.animateThis .fadeInDown2 {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animateThis .fadeInUp2 {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.hline,
.logotxt2 {
	animation-delay: 1s;
}
@keyframes logo {
  0% {
    stroke-width: 1pt;
    stroke-dashoffset: 1200;
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1020;
	padding-bottom: 10px;
	background: transparent;
	opacity: 1;
	transform: translateY(0);
	@include transition(all ease-in-out .5s);
	.wrapper {
		max-width: 100%;
		@include tab {
			max-width: 90%;
		}
	}
}

body.subpage {
	.site-header {
		position: relative;
	}
	.logo-wrapper {
		padding-top: 15px;
	}
	.main-navigation {
		top: 0;
		margin-top: 10px;
		padding-bottom: 8px;
		@include mid {
			top: 25px;
			margin-top: 0;
			padding-bottom: 0;
		}
	}
	.main-navigation,
	.animateThis * {
		animation: none!important;
	}
}
body.scrolled {
	.site-header {
		transform: translateY(-100%);
		opacity: 0;
		z-index: -999;
	}
}

.site-footer {
	width: 100%;
	clear: both;
	font-size: 18px;
	.section-title.wtm {
		font-size: 23px;
	}
}

.first-section {
	.site-header {
		position: relative;
	}
}


.screen-reader-text {
	clip: rect(1px,1px,1px,1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
html, body, .site {
	height: 100%!important;
}
.content-main-wrapper {
	height: 100%!important;
}
.default-template {
	background: #FFF;
	color: $color-dark-blue;
	.site-main {
		min-height: 30em;
	}
}
.section {
	background: #FFF;
	color: $color__text-main;
	font-weight: 300;
	position: relative;
	z-index: 1010;
	&.parallax-window {
		background: transparent;
	}
}
.first-section {
	text-align: center;
}
.taglinediv {
	display: inline-block;
	position: relative;
	// margin: 10% auto 0;
	margin: 18% auto 0;
	transform: scale(.8);
	top: 0;
	@include transition(all ease-out .3s);
	@include tab {
		transform: scale(.8);
	}
	// @include mid {
	// 	transform: unset;
	// 	top: 0;
	// 	margin: -17% auto 0;
	// }
	// @media screen and (max-width:500px) {
	// 	margin: -38% auto 0;
	// }
}
.tagline {
	position: relative;
	margin: 0 0;
	display: inline-block;
	color: #FFF;
	font-size: 2em;
	span {
		display: block;
		width: 100%;
		line-height: 1;
		position: relative;
		color: transparent;
		em {
			font-style: normal;
			display: block;
		}
	}
	span.t1 {
		font-family: $font-secondary;
		font-weight: 200;
		font-size: 0.7em;
		text-transform: lowercase;
		padding: 30px 50px 15px;
		@include tab {
			font-size: 1em;
		}
		@include mid {
			font-size: 1.3em;
		}
		@include desk {
			font-size: 1.6em;
		}
	}
	span.t2 {
		font-family: 'Poppins', sans-serif;
		font-weight: 600;
		font-size: 1.5em;
		text-transform: uppercase;
		position: relative;
		top: 0;
		@include tab {
			font-size: 1.8em;
		}
		@include mid {
			top: -5px;
			font-size: 2em;
		}
		@include desk {
			font-size: 2.6em;
		}
		em {
			font-style: normal;
			display: block;
		}
	}
	&.animated {
		&:before {
			content:"";
			display: block;
			background: #FFF;
			position: absolute;
			top: 0;
			left: 0;
			width: 0;
			height: 4px;
			animation: vertical_middle_line 1s normal forwards ease;
			animation-delay: 2.2s;
		}
		span.t1 {
			&:before, &:after {
				content:"";
				display: block;
				background: #FFF;
				width: 4px;
				height: 0;
				position: absolute;
				top: 0;
			}
			&:before {
				left: 0;
				animation: bottom_to_top 1s normal forwards ease-in-out;
				animation-delay: 2.2s;
			}
			&:after {
				right: 0;
				animation: top_to_bottom 1s normal forwards ease-in-out;
				animation-delay: 2.2s;
			}
		}
		span.t2 {
			em {
				&:before, &:after {
					content:"";
					display: block;
					background: #FFF;
					width: 0;
					height: 5px;
					position: absolute;
					top: 48%;
				}
				&:before {
					left: 0;
					animation: bottom_left_to_right 1s normal forwards ease-in-out;
					animation-delay: 2.2s;
				}
				&:after {
					right: 0;
					animation: bottom_right_to_left 1s normal forwards ease-in-out;
					animation-delay: 2.2s;
				}
			}
		}


	}
}

.tagline.clone {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	&:before {
		display: none;
	}
	span {
		color: #FFF;
	}
	span.t1 {
		animation-delay: 2s;
		&:before, &:after {
			display: none;
		}
	}
	span.t2 {
		animation-delay: 2s;
		em {
			&:before, &:after {
				display: none;
			}
		}
	}
}

@keyframes bottom_to_top {
	from {
		top: 136%;
		height:0%;
	}
	to {
		top: 0;
		height:136%;
	}
}
@keyframes top_to_bottom {
    from {
		height:0%;
	}
	to {
		height:136%;
	}
}

@keyframes bottom_left_to_right {
    // 0% { width: 0; }
    // 50%{ width : 13%;}
	from {
		left:13%;
		width:0%;
	}
	to {
		left:0%;
		width:13%;
	}
}
@keyframes bottom_right_to_left {
	from {
		width:0%;
	}
	to {
		width:13%;
	}
}

@keyframes vertical_middle_line {
  // from {
  //   left:50%;
  //   width:0%;
  // }
  // to {
  //   left:0%;
  //   width:100%;
  // }
  from {
    width:0%;
  }
  to {
    width:100%;
  }
}
.fp-responsive {
	.parallax-mirror {
		height: 100%!important;
	}
}
.fp-responsive .fp-auto-height-responsive.fp-section {
	&#section1,
	&#section1 .fp-tableCell {
		height: 100%!important;

	}
}
.medwrap {
	max-width: 800px;
	width: 90%;
	margin: 0 auto;
}
.large-text {
	color: $color__text-main;
	line-height: 1.4;
	font-size: 18px;
	sup {
		font-size: 9px;
		top: -10px;
		left: 2px;
	}
	@include mid {
		line-height: 1.3;
		font-size: 2vw;
		sup {
			font-size: 9px;
			top: -9px;
		}
	}
	@include desk {
		font-size: 30px;
		sup {
			font-size: 10px;
			top: -15px;
		}
	}
}

.about {
	opacity: 1;
  	@include mid {
  
  	}
	p strong {
		width: 100%;
		display: inline-block;
		padding: 0 0;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 5px;
	}
}

.fullwidth {
	width: 100%;
	float: left;
}
.flexrow {
	@media screen and (min-width: $tabwidth) {
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
	}
}

.morebtn {
	color: $color__text-main;
	font-weight: 300;
	text-decoration: none;
	display: inline-block;
	padding: 6px 18px;
	background: transparent;
	border: 5px solid $color-light-grey;
	&:hover {
		color: #FFF;
		background: $color__text-main;
		border-color: $color__text-main;
		transform: scale(1.1);
	}
}
.section.services-section {
	background: $color-light-grey;
}
.section-title {
	font-size: 2em;
	font-weight: 300;
	margin: 0 0;
	@include mid {
		font-size: 2.7em;
	}
}

.services {
	.fbox {
		padding: 20px;
		@include tab {
			width: 33.33%;
		}
	}
}
.svc-icon {
	text-align: center;
	margin-bottom: 20px;
	span {
		display: inline-block;
		width: 120px;
		background: #FFF;
		border-radius: 100%;
	}
	img {
		float: left;
		width: 100%;
		height: auto;
		border-radius: 100%;
	}
}
.box-title {
	margin: 0 0 6px;
	font-size: 16px;
	font-weight: 700;
	line-height: 1.3;
	text-transform: uppercase;
	padding: 0 5%;
	@include mid {
		padding: 0 10%;
	}
	@include desk {
		padding: 0 20%;
	}
}

.section.whyus-section {
	background: $color-light-blue;
	color: #FFF;
	.wrapper {
		padding-top: 8%;
		padding-bottom: 6%;
	}
	.section-title sup {
		font-size: 14px;
		top: -18px;
		right: -4px;
		padding-right: 8px;
	}
}
.whydetails {
	padding-top: 4%;
	padding-bottom: 4%;
	.whybox {
		padding: 15px 20px 20px;
		border-top: 1px solid #FFF;
		@include tab {
			padding: 20px;
			width: 50%;
			padding: 20px;
			border-top: none;
		}
		@include desk {
			padding: 20px 40px;
		}
	}
	.whybox:first-child {
		border-top: none;
	}
	@include tab {
		.whybox:nth-child(1),
		.whybox:nth-child(3) {
			border-right: 1px solid #FFF;
		}
		.whybox:nth-child(1),
		.whybox:nth-child(2) {
			border-bottom: 1px solid #FFF;
		} 
	}
	.title {
		font-size: 17px;
		font-weight: 700;
		margin: 0 0;
		color: $color-dark-blue;
		text-transform: none;
	}
}

// .contactus-section.parallax-window.section {
// 	.wrapper {
// 		padding-top: 5%;
// 	}
// 	.contactus {
// 		max-width: 800px;
// 		width: 100%;
// 		margin: 0 auto;
// 		padding-top: 7%;
// 		@include mid {
// 			padding-top: 5%;
// 			padding-bottom: 5%;
// 		}
// 	}
// }
.contactus-section.section {
	.wrapper {
		padding-top: 5%;
	}
	.contactus {
		max-width: 800px;
		width: 100%;
		margin: 0 auto;
		padding-top: 7%;
		@include mid {
			padding-top: 5%;
			padding-bottom: 5%;
		}
	}
}

.contact-text {
	font-size: 16px;
	background: transparent;
	@include mid {
		font-size: 20px;
	}
	p strong {
		font-weight: normal;
	}
	a {
		color: $color-dark-blue;
		&:hover {
			color: $color-light-blue;
		}
	}
	.gform_wrapper {
		margin-bottom: 10%;
		width: 100%;
		float: left;
		background: #FFF;
	}
	.gform_wrapper form {
		display: block;
		padding: 20px;
		background: #FFF;
		font-weight: 400;
		position: relative;
		z-index: 5;
		width: 100%;
		float: left;
		input[type="text"],
		input[type="email"],
		textarea {
			border-radius: 0px;
			border: 3px solid #dedede;
			outline: none;
			@include transition(all ease .3s);
			&:focus {
				border-color: $color-dark-blue;
			}
		}
		.field_sublabel_below .ginput_complex.ginput_container label {
			margin-bottom: 0;
		}
		ul.gform_fields li.gfield {
			position: relative;
			margin-top: 25px;
			padding-right: 0!important;
		}
		#field_1_1 label.gfield_label {
			display: none;
		}
		label.gfield_label {
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			top: 10px;
			left: 10px;
			font-size: 13px;
			font-weight: 500;
			color: #909090;
			@include transition(all ease-out .3s);
			&.on-focus {
				top: -16px;
				left: 0;
				font-size: 12px;
			}
		}
		li.gfield.gfield_html {
			text-align: center;
		}
		.field_sublabel_below .ginput_complex.ginput_container label {
			font-size: 12px;
		}
		li.recaptcha-container {
			text-align: center;
			label {
				display: none;
			}
			.ginput_recaptcha {
				display: inline-block;
			}
		}
	}

	.gform_wrapper ul.gform_fields > li:first-child {
		margin-top: 0!important;
	}
	.gform_footer {
		text-align: center;
	}
	.gform_wrapper .gform_footer input.button, 
	.gform_wrapper .gform_footer input[type=submit] {
		border: 3px solid #dedede;
		box-shadow: none;
		text-shadow: none;
		border-radius: 0px;
		-webkit-appearance: none;
		background: #FFF;
		padding: 10px 20px;
		margin: 0 auto;
		@include transition(all ease-out .3s);
		&:hover {
			color: #FFF;
			border-color: $color-dark-blue;
			background: $color-dark-blue;
			transform: scale(1.1);
		}
	}
	.gform_wrapper .gfield_description.validation_message, 
	.gform_wrapper .top_label .gfield_description.validation_message {
		font-size: 13px;
		padding: 5px 15px!important;
	}
	.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
		background-color: rgba(255,223,224,.25);
		margin-bottom: 6px!important;
		border-top: 1px solid #C89797;
		border-bottom: 1px solid #C89797;
		padding-bottom: 6px;
		padding-top: 2px;
		box-sizing: border-box;
	}
	.gform_wrapper.gform_validation_error .gform_body ul li.gfield.gfield_error:not(.gf_left_half):not(.gf_right_half) {
		max-width: calc(100%)!important;
	}
	.gform_wrapper .validation_message,
	.gform_wrapper div.validation_error {
		color: #e61d1d;
	}

}

.section-one {
	// height: 100%;
	height: 100vh;
	.wrapper {
		height: 100%;
		padding-top: 0;
		padding-bottom: 0;
		@include flexbox();
		@include flexbox-wrap(wrap);
		@include flexbox-direction(row);
		@include flexbox-justify(center);
		@include flexbox-align-items(center);
	}
}

.section-two {
	.wrapper {
		padding-top: 6%;
		padding-bottom: 10%;
		@include desk {
			padding-top: 6%;
			padding-bottom: 8%;
		}
	}
}

.section-three {
	.wrapper {
		padding-top: 6%;
		padding-bottom: 6%;
	}
	.section-title {
		margin-bottom: 15px;
	}
}

.section.footer-section {
	background: $color-dark-blue;
	color: #FFF;
}

.section-logo {
	margin-bottom: 6%;
	.magnoliasvg .st0 {
		fill: $color-dark-blue;
	}
	.magnoliasvg .st0.logotxt2 {
		fill: $color-light-blue;
	}
	.logov2 {
		display: inline-block;
		width: 350px;
		@include mid {
			width: 380px;
		}
		@include desk {
			width: 500px;
		}
		&.animated {
			.animate-stroke {
				fill: $color-dark-blue;
				stroke: $color-dark-blue;
				stroke-width: 0;
				animation: logo 3s normal forwards ease-in-out;
			}

			.animated2 {
				-webkit-animation-duration: 1s;
				animation-duration: 1s;
				-webkit-animation-fill-mode: both;
				animation-fill-mode: both;
			}
			.fadeInUp2 {
				-webkit-animation-name: fadeInUp;
				animation-name: fadeInUp;
			}

			.fadeInLeft2 {
			  -webkit-animation-name: fadeInLeft;
			  animation-name: fadeInLeft;
			}
			.fadeInRight2 {
			  -webkit-animation-name: fadeInRight;
			  animation-name: fadeInRight;
			}

			.hline {
				animation-delay: 1s;
			}
		}

		
	}
}
.footer-section {
	a {
		text-decoration: none;
		color: #FFF;
	}
	.wrapper {
		padding-top: 7%;
		padding-bottom: 4%;
		@include tab {
			padding-top: 5%;
			padding-bottom: 5%;
		}
	}
	.section-title {
		font-size: 20px;
		font-weight: 700;
		margin-bottom: 20px;
		sup {
			font-size: 10px;
			top: -8px;
			left: 3px;
		}
	}
	.phone {
		margin-bottom: 20px;
	}
	.copyright {
		margin: 30px 0 0;
		width: 100%;
	}
}
.social-links {
	margin: 30px 0 0;
	a {
		display: inline-block;
		width: 35px;
		height: 38px;
		text-align: center;
		border: 1px solid #FFF;
		line-height: 36px;
		color: #FFF;
		background: transparent;
		margin: 2px;
		&:hover {
			color: $color-dark-blue;
			background: #FFF;
		}
	}
}

body.error404 {
	.site-main {
		@include flexbox();
		@include flexbox-align-items(center);
		@include flexbox-justify(center);
	}
	.page-header {
		position: relative;
		margin-top: -7%;
	}
	.txt404 {
		font-size: 100px;
		font-weight: 300;
		color: #e4e4e4;
		span {
			border-bottom: 5px solid #e4e4e4;
			margin-bottom: 28px;
			display: inline-block;
		}
	}
	h1 {
		font-size: 1.8em;
		font-weight: 500;
		line-height: 1.3;
		margin: 0 0;
		position: relative;
	}
	.icondiv span {
		font-size: 6em;
		color: #e4e4e4;
	}
}
.legal-disclaimer {
	font-size: 10px;
	font-weight: 300;
	line-height: 1.5;
	text-align: justify;
	max-width: 1000px;
	width: 100%;
	margin: 35px auto 0;
	padding-top: 10px;
	border-top: 1px dotted rgba(255,255,255,.35);
	text-align: center;
	p {
		margin-bottom: 0;
		margin-top: 15px;
	}
	a {
		text-decoration: underline;
	}
}


