.main-navigation {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 30px;
	@include tab {
		margin-top: 25px;
	}
	@include mid {
		margin-top: 0;
		width: 300px;
		position: absolute;
		top: 50px;
		right: 0;
		z-index: 11;
		float: none;
		animation-delay: 1.1s;
	}
	@media screen and (max-width:899px) {
		&.animated.fadeInRight {
			// transition-property: none !important;
			// transform: none !important;
			// animation: none !important;
			-webkit-animation-name: fadeIn;
  			animation-name: fadeIn;
  			animation-delay: 2s;
		}
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	.menu {
		display: inline-block;
		text-align: center;
		@include mid {
			float: right;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.menu > li {
		float: left;
	}
	.menu a {
		display: block;
		color: #FFF;
		text-decoration: none;
		font-size: 16px;
		position: relative;
	}
	.menu > li > a {
		padding: 10px 25px 10px;
		line-height: 1.2;
		&:hover {
			opacity: 0.45;
		}
	}
	.menu li.custom_menu_link a {
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border: 4px solid #FFF;
		}
		&:hover {
			opacity: 1;
			transform: scale(1.1);
		}
	}
}
.side-navigation {
	width: 350px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	transition: all ease-out .3s;
	z-index: 1003;
	transform: translateX(-100%);
	&.open {
		transform: translateX(0);
	}
	.navwrap {
		padding: 110px 20px 20px 45px;
		text-align: left;
		background: rgba(5, 3, 29, 0.6);
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	.sub-menu {
		display: none;
	}
	.menu a {
		display: block;
		color: rgba(255,255,255,.7);
		text-decoration: none;
		font-size: 16px;
		padding: 8px 0;
		position: relative;
		&:hover {
			color: rgba(255,255,255,1);
		}
	}
	.menu > li > a {
		font-size: 20px;
		font-weight: 600;
		padding: 15px 0;
		color: #FFF;
		.xx {
			display: inline-block;
			width: 17px;
			height: 16px;
			background: transparent;
			position: absolute;
			top: 21px;
			right: 0;
			transition: all ease-out .3s;
			&:before, &:after {
				content:"";
				display: block;
				position: absolute;
				background: #FFF;
				transition: all ease-out .3s;
			}
			&:before {
				width: 100%;
				height: 3px;
				top: 6px;
				left: 0;
			}
			&:after {
				width: 3px;
				height: 100%;
				top: 0;
				left: 7px;
			}
		}
		&.open {
			.xx {
				transform: rotate(-45deg);
			}
		}
	}
	.menu > li.current-menu-parent > .sub-menu {
		display: block;
	}
}
.menutoggle {
	display: block;
	width: 50px;
	height: 40px;
	float: left;
	background: transparent;
	position: absolute;
	top: 40px;
	left: 25px;
	z-index: 1005;
	@include tab {
		top: 50px;
		left: 50px;
	}
	span,
	span:before,span:after {
		display: block;
		width: 100%;
		height: 6px;
		background: #FFF;
		position: absolute;
		transition: all ease-out .3s;
	}
	span {
		left: 0;
		top: 16px;
	}
	span:before,span:after {
		content:"";
	}
	span:before {
		top: -16px;
	}
	span:after {
		top: 16px;
	}
	&.open {
		span {
			background: transparent;
		}
		span:before {
			transform: translateY(16px) rotate(45deg);
		}
		span:after {
			transform: translateY(-16px) rotate(-45deg);
		}
	}
}
body.scrolled {
	.menutoggle {
		background: rgba(5, 3, 29, 0.5);
	}
}

.footer-section .footernav {
	ul {
		margin: 20px 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		line-height: 1.4;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: rgba(255,255,255,.75);
		font-size: 16px;
		line-height: 1.2;
		padding: 0 0;
		&:hover {
			color: #FFF;
		}
	}
}
