.main-navigation {
	display: none;
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 10px;
	@include tab {
		display: block;
		position: absolute;
		top: 35px;
		right: 0;
		z-index: 11;
		width: auto;
	}
	@include mid {
		top: 50px;
		margin-top: 0;
		width: 300px;
		float: none;
		animation-delay: 1.1s;
	}
	@media screen and (max-width:899px) {
		&.animated.fadeInRight {
			// transition-property: none !important;
			// transform: none !important;
			// animation: none !important;
			-webkit-animation-name: fadeIn;
  			animation-name: fadeIn;
  			animation-delay: 2s;
		}
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	.menu {
		display: inline-block;
		text-align: center;
		@include mid {
			float: right;
			padding-left: 20px;
			padding-right: 20px;
		}
	}
	.menu > li {
		float: left;
	}
	.menu a {
		display: block;
		color: #FFF;
		text-decoration: none;
		font-size: 16px;
		position: relative;
	}
	.menu > li > a {
		padding: 10px 25px 10px;
		line-height: 1.2;
		&:hover {
			opacity: 0.45;
		}
	}
	.menu li.custom_menu_link a {
		&:before {
			content:"";
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border: 4px solid #FFF;
		}
		&:hover {
			opacity: 1;
			transform: scale(1.1);
		}
	}
}

.navOuterWrap {
	position: absolute;
	// width: 350px;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1207;
}

.snButtons {
	display: block;
	padding: 10px 30px 0;
	position: relative;
	margin-top: 108px;
	@include tab {
		display: none;
	}
	a {
		display: block;
		color: #FFF;
		border: 2px solid #FFF;
		padding: 5px 10px;
		text-decoration: none;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
	}
}

.side-navigation {
	width: 350px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all ease-out .3s;
	z-index: 1200;
	transform: translateX(-100%);
	background: rgba(5, 3, 29, 0.95);
	overflow-y: scroll;
	overflow-x: hidden;
	&.open {
		transform: translateX(0);
	}
	.navwrap {
		margin-top: 5px;
		padding: 20px 20px 40px 30px;
		text-align: left;
		@include tab {
			margin-top: 115px;
		}
	}
	ul {
		margin: 0 0;
		padding: 0 0;
		list-style: none;
	}
	.sub-menu {
		display: none;
	}
	.menu a {
		display: block;
		color: rgba(255,255,255,.7);
		text-decoration: none;
		font-size: 16px;
		padding: 8px 0;
		position: relative;
		&:hover {
			color: rgba(255,255,255,1);
		}
	}
	.menu > li > a {
		font-size: 20px;
		font-weight: 600;
		padding: 15px 0;
		color: #FFF;
		.xx {
			display: inline-block;
			width: 17px;
			height: 16px;
			background: transparent;
			position: absolute;
			top: 21px;
			right: 0;
			transition: all ease-out .3s;
			&:before, &:after {
				content:"";
				display: block;
				position: absolute;
				background: #FFF;
				transition: all ease-out .3s;
			}
			&:before {
				width: 100%;
				height: 3px;
				top: 6px;
				left: 0;
			}
			&:after {
				width: 3px;
				height: 100%;
				top: 0;
				left: 7px;
			}
		}
		&.open {
			.xx {
				transform: rotate(-45deg);
			}
		}
	}
	.menu > li.current-menu-parent > .sub-menu {
		display: block;
	}
}

.menutoggle {
	display: block;
	width: 50px;
	height: 40px;
	float: left;
	background: transparent;
	position: absolute;
	top: 45px;
	left: 25px;
	z-index: 1205;
	@include tab {
		top: 40px;
		left: 50px;
	}
	span,
	span:before,span:after {
		display: block;
		width: 100%;
		height: 6px;
		background: #FFF;
		position: absolute;
		transition: all ease-out .3s;
	}
	span {
		left: 0;
		top: 16px;
	}
	span:before,span:after {
		content:"";
	}
	span:before {
		top: -16px;
	}
	span:after {
		top: 16px;
	}
	&.open {
		span {
			background: transparent;
		}
		span:before {
			transform: translateY(16px) rotate(45deg);
		}
		span:after {
			transform: translateY(-16px) rotate(-45deg);
		}
	}
	i {
		display: inline-block;
		font-size: 15px;
		font-style: normal;
		position: absolute;
		top: -22px;
		right: 4px;
		color: #FFF;
		line-height: 1;
		@include tab {
			font-size: 18px;
			top: 8px;
			right: -70px;
		}
	}
}

body.scrolled {
	.menutoggle {
		background: rgba(5, 3, 29, 0.5);
	}
}

.footer-section .footernav {
	ul {
		margin: 20px 0 0;
		padding: 0 0;
		list-style: none;
	}
	li {
		line-height: 1.4;
	}
	a {
		display: inline-block;
		text-decoration: none;
		color: rgba(255,255,255,.75);
		font-size: 16px;
		line-height: 1.2;
		padding: 0 0;
		&:hover {
			color: #FFF;
		}
	}
}
