div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
	overflow-wrap: normal;
    word-wrap: normal;
    -ms-word-break: normal;
    word-break: normal;
    word-break: normal;
    -ms-hyphens: none;
    -moz-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
    page-break-inside: avoid;
}
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
a {
	@include transition(all ease-out .3s);
}
body {
	font-size: 16px;
	line-height: 1.5;
	color: #FFF;
}
.clear:before, .clear:after { content: " "; display: table; }
.clear { *zoom: 1; }
.clear {clear: both;}
.wrapper {
	max-width: 1240px;
	width: 100%;
	position: relative;
	margin: 0px auto;
	padding-left: 20px;
	padding-right: 20px;
}
.text-center {text-align:center;}
.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.sr-only {
	display: none;
}
.logo-wrapper {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 10;
	padding-top: 40px;
	padding-bottom: 10px;
	@include tab {
		padding-top: 20px;
	}
	@include mid {
		padding-top: 40px;
		padding-bottom: 0;
	}
}
.logoSVG {
	display: inline-block;
	width: 310px;
	margin: 0 auto;
	opacity: 0;
	@include transition(all ease-out .3s);
	&.animateThis {
		opacity: 1;
	}
	&.show {
		opacity: 1;
	}
}


.magnoliasvg {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.magnoliasvg .st0{
	fill:#FFFFFF;
	@include transition(all ease-out .3s);
}
.animateThis .animate-stroke {
  fill: #ffffff;
  stroke: #ffffff;
  stroke-width: 0;
  animation: logo 3s normal forwards ease-in-out;
  //animation: logo 5s linear infinite;
}

.animateThis .animated2 {
	-webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animateThis .fadeInLeft2 {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.animateThis .fadeInRight2 {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.animateThis .fadeInDown2 {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}
.animateThis .fadeInUp2 {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

.hline,
.logotxt2 {
	animation-delay: 1s;
}
@keyframes logo {
  0% {
    stroke-width: 1pt;
    stroke-dashoffset: 1200;
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    fill-opacity: 1;
    stroke-width: 0pt;
  }
}

.site-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	padding-bottom: 10px;
	background: transparent;
	opacity: 1;
	transform: translateY(0);
	@include transition(all ease-in-out .5s);
}

body.subpage {
	.site-header {
		position: relative;
	}
	.logo-wrapper {
		padding-top: 15px;
	}
	.main-navigation {
		top: 0;
		margin-top: 10px;
		padding-bottom: 8px;
		@include mid {
			top: 25px;
			margin-top: 0;
			padding-bottom: 0;
		}
	}
	.main-navigation,
	.animateThis * {
		animation: none!important;
	}
}
body.scrolled {
	.site-header {
		transform: translateY(-100%);
		opacity: 0;
		z-index: -999;
	}
}

.site-footer {
	width: 100%;
	clear: both;
}

.first-section {
	.site-header {
		position: relative;
	}
}